apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: acie-redis
  namespace: acie
spec:
  serviceName: "redis-service"
  replicas: 1
  selector:
    matchLabels:
      app: acie
      component: redis
  template:
    metadata:
      labels:
        app: acie
        component: redis
    spec:
      containers:
        - name: redis
          image: redis:7-alpine
          command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
          ports:
            - containerPort: 6379
          volumeMounts:
            - name: redis-data
              mountPath: /data
            - name: redis-config
              mountPath: /usr/local/etc/redis/redis.conf
              subPath: redis.conf
      volumes:
        - name: redis-config
          configMap:
            name: redis-config
  volumeClaimTemplates:
    - metadata:
        name: redis-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 1Gi
---
apiVersion: v1
kind: Service
metadata:
  name: redis-service
  namespace: acie
spec:
  selector:
    app: acie
    component: redis
  ports:
    - port: 6379
      targetPort: 6379
